#all {background-color: #FFBF00}
.w {font-size:30px; font-weight: bold; margin-top: 50px ;color: #708090 }
.friday {display: inline;color: #F5F5F5}
.test {width: 150px; margin-top:20px; border: 2px groove #708090; padding: 10px}
.ttest {font-weight: bold;}